@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
}

p {
    font-size: 1.2em; /* veya başka bir değer */
}

.love-container {
	background-image: url('background1.jpg'); /* Görseli belirtin */
	background-size: cover; /* Görseli kaplamak için */
	background-position: center; /* Görseli ortalamak için */
	background-color: #FF85A2; /* Aşk temalı arka plan rengi (görsel yüklenene kadar görünecek) */
	color: #FFFFFF; /* Yazı rengi */
	padding: 50px;
	text-align: center;
	width: 100%; 
	height: auto; 
	margin: 0 auto;
}
  
@media (max-width: 768px) {
	.love-container {
	  max-width: 100%;
	  padding: 30px;
	}
}

blockquote{
	font-family: 'Arial', sans-serif;
	font-style: italic;
	font-weight: bold;
}

