@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
}

.love-container {
	background-image: url('background1.jpg'); /* Görseli belirtin */
	background-size: cover; /* Görseli kaplamak için */
	background-position: center; /* Görseli ortalamak için */
	background-color: #FF85A2; /* Aşk temalı arka plan rengi (görsel yüklenene kadar görünecek) */
	color: #FFFFFF; /* Yazı rengi */
	padding: 50px;
	text-align: center;
  }
  
  @media (max-width: 768px) {
	.love-container {
	  padding: 30px;
	}
  }