body {
  margin: 0;
  padding: 5px;
  background-image: url('merve0.jpg');
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff; /* Metin rengi */
}

.container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Görsele bulanıklık vermek için arka plan rengi */
  padding: 5px;
  border-radius: 10px; /* Opsiyonel: Container köşelerini yuvarlamak */
}

p {
  margin: 0;
  white-space: pre-line;
  font-weight: bold; /* Metni kalın yap */
  font-size: 2.5em; /* Metni büyüt, burada 1em, varsayılan font boyutunu temsil eder. 1.5em ise 1.5 katı büyüklüğünde bir font boyutu kullanır. Ayarlayabilirsin. */
  font-family: 'Verdana', sans-serif;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url('merve0.jpg');
    background-size: cover; /* veya contain kullanabilirsin, ihtiyacına bağlı olarak */
    background-position: center; /* Arka plan resmini ekranda ortalamak için */
    background-repeat: no-repeat; /* Arka plan resminin tekrar etmemesi için */
    width: 100vw; /* Sayfa genişliği kadar genişlik */
    height: 100vh; /* Sayfa yüksekliği kadar yükseklik */
    margin: 0; /* Sayfa kenar boşluklarını sıfırla */
    overflow-y: auto;
  }

  .container {
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 600px; /* Veya başka bir değer, metni belirli bir genişlikte sınırlamak için */
    margin: 0 auto; /* Container'ı sayfanın ortasına hizalar */
  }
}
