body {
  background-color: #a89f7e;
  background-image: url('https://i.pinimg.com/736x/16/7b/38/167b38e1821a987e5a6f9fa17e9407ed.jpg');
  min-height: 100vh;
  font-family: 'Verdana', sans-serif;
  padding: 1rem 2rem;
}

.container {
  max-width: 600px;
  width: 100%;
  background: #a18c4c;
  display: flex;
  justify-content: space-between;
  padding:  100px 50px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
}

.mt-3{
  max-width: 600px;
  width: 100%;
  background: #a18c4c;
  display: flex;
  justify-content: space-between;
  padding:  30px 25px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
}

.pagination{
  max-width: 600px;
  width: 100%;
  background: #a18c4c;
  display: flex;
  justify-content: space-between;
  padding:  15px 20px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
}

@media (max-width: 768px) {
  body {
    padding: 5rem 2rem;
  }
  
  .container {
    padding: 50px 25px;
    gap: 50px;
    flex-direction: column;
  }
  
}

.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: #37392e;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.container div span {
  color: #37392e;
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 500;
}