body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
   }
   
   .message {
    margin-top: 20px;
   }
   
   .card {
    margin: 20px 0;
   }
   
   .card-title {
    font-size: 20px;
   }
   
   .card-text {
    font-size: 48px;
   }
   
   .dark {
    background-color: #333;
    color: #fff;
   }